.card {
  width: 600px;
  background-color: #ece8e2;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px 10px 0;
  display: flex;
  flex-direction: column;
};
.title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #3d5a4a;
};
.content {
  flex: 1;
  font-size: 1rem;
  color: #555;
  padding-right: 10px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }
};